<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183679184381-i5dkg52r3ho30tomrmba620nuuiqus3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183679184381-i5dkg52r3ho30tomrmba620nuuiqus3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDD_h1rmg0Ni6H8XdsjpHxTfwMAB659mGg</string>
	<key>GCM_SENDER_ID</key>
	<string>183679184381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kma.swiftui-appdelegate</string>
	<key>PROJECT_ID</key>
	<string>food-app-a9e47</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-a9e47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183679184381:ios:04156f71c0158ef7637d94</string>
</dict>
</plist>